[Desktop Entry]
Comment[tr]=
Comment=
Exec=/usr/bin/E-Tahta
GenericName[tr]=E-Tahta
GenericName=E-Tahta
Icon=/usr/bin/E-Tahta.png
MimeType=
Name[tr]=E-Tahta
Name=E-Tahta
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
